<!DOCTYPE html>
<html lang="en" ng-app="TestApp">
<head>
  <meta charset="UTF-8">
  <title>photo-swipe DEMO PAGE</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta content="telephone=no" name="format-detection"/>

  <link rel="stylesheet" href="../bower_components/photoswipe/dist/photoswipe.css" />
  <link rel="stylesheet" href="../bower_components/photoswipe/dist/default-skin/default-skin.css" />
  <link rel="stylesheet" type="text/css" href="../dist/css/photo-swipe.css"/>
  <style type="text/css">
    body {
      font-family: 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    }

    [ng-cloak] {
      display: none;
    }
    .pic-list{
      width:300px;
      margin:0 auto;
      text-align: center;
    }

    .pic-list figure{
      margin-bottom:10px;
    }

  </style>
</head>
<body ng-controller="MainCtrl as vm" ng-cloak>

<div class="pic-list">
  <figure ng-repeat="item in vm.images" ng-click="vm.showPhotoSwipe($index)">
    <img ng-src="{{item}}" width="200" alt="">
  </figure>
</div>


<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
<script type="text/javascript" src="../bower_components/angular-module-stiffener/dist/angular-module-stiffener.js"></script>
<script src="../bower_components/photoswipe/dist/photoswipe.js"></script>
<script src="../bower_components/photoswipe/dist/photoswipe-ui-default.js"></script>
<script type="text/javascript" src="../dist/js/angular-photo-swipe.js"></script>
<script type="text/javascript">
  var TestModule = angular.module('TestApp', ['nx.widget'])
    .controller('MainCtrl', function ($scope,nxPhotoSwipe) {
      var vm = this;
      vm.images=[
        '../_data/dc004.png',
        '../_data/dc005.png',
        '../_data/dc006.png'
      ];

      vm.showPhotoSwipe=function(inIndex){
        nxPhotoSwipe.show({
          index:inIndex,
          images:vm.images
        });
      };
      //You directive demo code goes here!
    });
</script>
</body>
</html>
