/**photo-swipe Start**/

.nx-widget-photo-swipe {
  .photo-swipe{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;

    .pswp__container,
    .pswp__zoom-wrap{
    }
  }
}

/**photo-swipe  End**/
